{% extends 'base.jinja2' %}
{% import 'atoms.html' as atoms %}
{% import 'molecules.html' as molecules %}
{% from 'comments/comment_form.jinja2' import comment_form %}
{% from 'comments/comment_list.jinja2' import comment_list %}

{% block content %}
<div class="content">
    <div>
        <a href={{ request.route_url('category_jinja2', category=primary_category.uuid) }}>
        {{ molecules.image_and_heading(view, primary_category) }}
        </a>
    </div>

    <h2>{{ page.title }}</h2>

    {{ comment_form(comment_form, comments) }}
    {{ comment_list(comments, request) }}
</div>
{% endblock %}
