{% extends "base.jinja2" %}
{% import 'atoms.html' as atoms %}
{% import 'molecules.html' as molecules %}
{% import 'organisms.html' as organisms %}

{% block content %}

<h1>We can't find that page, sorry.</h1>
Go to the<a href={{view.request.route_url('home_jinja')}}>Home Page</a> 

{{molecules.search_box()}}

{% endblock %}

{% block search %}
{% endblock %}
