{% extends "base.jinja2" %}
{% import 'atoms.html' as atoms %}
{% import 'molecules.html' as molecules %}

{% block content %}

<h1>This is a category that lists its articles!</h1>

{{molecules.category_heading( "/" , 'TitleTest' )}}

{% endblock %}