{% extends "base.jinja2" %}
{% import 'atoms.html' as atoms %}
{% import 'molecules.html' as molecules %}
{% import 'organisms.html' as organisms %}

{% block content %}

{{molecules.image_and_heading(view, category)}}

{{organisms.list_of_articles(view, pages)}}

{% endblock %}
