{% extends "base.jinja2" %}
{% import 'atoms.html' as atoms %}
{% import 'molecules.html' as molecules %}

{% block content %}

{{molecules.banner_with_image("/static/img/kids.jpg")}}

{{molecules.category_list_ffl( view.get_categories() )}}

{% endblock %}
