{% import 'atoms.html' as atoms %}

{% macro nav_inline_centered(languages) -%}
<ul class="nav list-inline l-tac" role="navigation">
{% for key, value in languages %}
	<li><a href="/locale/{{key}}/">{{value}}</a></li>
{% endfor %}
	<li><a href="/spice/locale/change/">&gt;&gt;</a></li>
</ul>
{%- endmacro %}

{% macro banner_with_image(src) -%}
<div class ="banner">
	{{ atoms.image(src, "", "")}}
</div>
{%- endmacro %}

{% macro image_and_heading(view, cat) -%}
{{atoms.image( view.get_image_url(cat.image_host, cat.image, 45, 45), "" , "" ) }}
<h3>{{cat.title}}</h3>
{%- endmacro %}


{% macro nav_inline_highlight_primary() -%}
<ul class="nav list-inline highlight-primary" role="navigation">
  <li><a href="/spice/">Home</a></li>
  <li><a href="/spice/about/">About</a></li>
  <li><a href="/spice/credits/">Credits</a></li>
  <li><a href="/spice/contact/">Contact</a></li>
</ul>
{%- endmacro %}

{% macro nav_block_highlight_secondary() -%}
<ul class="nav list-block highlight-secondary" role="navigation">
  <li><a href="/spice/">Home</a></li>
  <li><a href="/spice/about/">About</a></li>
  <li><a href="/spice/credits/">Credits</a></li>
  <li><a href="/spice/contact/">Contact</a></li>
</ul>
{%- endmacro %}

{% macro logo(src) -%}
<div class="logo">
  <a href="/">
	 {{atoms.image(src, "", "")}}
  </a>
</div>
{%- endmacro %}

{% macro footer(message) -%}
<div class="footer" role="contentinfo">
  &copy; {{message}}
</div>
{%- endmacro %}

{% macro search_box() -%}
  <form action='/spice/search/' method='GET'>
    <label for="search">Search: 
        <input id="input-search" name="q" type="text" placeholder="">
    </label>
        <input type="submit" value='Submit' />
  </form>
{%- endmacro %}
