{% import 'molecules.html' as molecules %}
{% import 'atoms.html' as atoms %}

{% macro list_of_images_and_heading(view) -%}
<ul>
{% for cat in view.get_categories() %}
    <li>
    	<a href='/spice/content/list/{{cat.uuid}}/'>
    		{{molecules.image_and_heading(view, cat)}}
       	</a>
    </li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro list_of_links(pages) -%}
<ul>
{% for page in pages %}
	<li>
		<a href="/spice/content/detail/{{page.uuid}}/">{{page.title}}</a>
	</li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro list_of_links_FFL(pages, category) -%}
<ul>
{% for page in pages %}
	<li>
		<a href="/spice/content/detail/{{page.uuid}}/">{{page.title}}</a>
	</li>
{% endfor %}
	<li>
		<a href="/spice/about/{{category.slug}}/">Why it is important</a>
	</li>
</ul>
{%- endmacro %}

{% macro list_of_languages(languages) -%}
<ul>
{% for lang in languages[:10] %}
	<li>
		<a href="/locale/{{lang[0]}}/">{{lang[1]}}</a>
	</li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro list_of_returned_articles(paginator, view) -%}
<ul>
	{% for result in paginator.get_page() %}
		<li>
			{{molecules.article_summary(result, view )}}
		</li>
	{% endfor %}
</ul>
{%- endmacro %}
