{% import 'molecules.html' as molecules %}
{% import 'atoms.html' as atoms %}

{% macro list_of_images_and_heading(view) -%}
<ul>
{% for cat in view.get_categories() %}
    <li>
    	<a href='/spice/content/list/{{cat.uuid}}/'>
    		{{molecules.image_and_heading(view, cat)}}
       	</a>
    </li>
{% endfor %}
</ul>
{%- endmacro %}

{% macro list_of_links(pages) -%}
<ul>
{% for page in pages %}
	<li>
		<a href="/content/detail/{{page.uuid}}/">{{page.title}}</a>
	</li>
{% endfor %}
</ul>
{%- endmacro %}