pyramid
pyramid_chameleon
pyramid_debugtoolbar
pyramid_beaker
python-memcached
waitress
webtest
cornice
praekelt_pyramid_celery
pyramid_redis
babel
lingua
arrow
Markdown==2.5.1
raven==5.0.0
elastic-git
python-slugify
