// text helper classes

%uc {
  text-transform: uppercase;
}

%capitalize {
  text-transform: capitalize;
}

%no-bull {
  list-style: none;
}

// layout

%no-m {
  margin: 0;
}

%no-p {
  padding: 0;
}

%no-mp {
  margin: 0;
  padding: 0;
}

%l-db {
 display: block;
}

%l-ib {
  display: inline-block;

}

%l-il {
  display: inline;

}

%l-tac {
  text-align: center;
}

// thumbs

%thumb-circle {
  img {
    border-radius: 50%;
  }
}

%has-thumb {
  img {
    float: left;
    margin: 0 1em 1em 0;
  }
  p {
    margin-left: 4em; // = thumb width + margin above
    margin-top: 0;
  }
  h3 {
    margin-top: -1em;
  }
  [dir="rtl"] & {
    img {
      float: right;
      margin: 0 0 1em 1em;
    }
    p {
      margin-left: 0;
      margin-right: 4em; // = thumb width + margin above
    }
  }
}

%has-thumb-flip {
  img {
    float: right;
    margin: 0 0 1em 1em;
  }
  p {
    margin-right: 4em; // = thumb width + margin above
    margin-top: 0;
  }
  h3 {
    margin-top: -1em;
  }
  [dir="rtl"] & {
    img {
      float: left;
      margin: 0 1em 1em 0;
    }
    p {
      margin-right: 0;
      margin-left: 4em; // = thumb width + margin above
    } 
  }
}