// Ebola

$colorFirst: #d15c4d; // dark orange
$colorSecond: #f6f4e3; // cream
$colorThird: #aac2ac; // grey green
$colorFourth: #666; // light grey grey

@include links($colorFirst);

// orange
.highlight-primary {
  color: $colorFirst;
}

// green on cream
.highlight-secondary {
  color: lighten($colorThird, 10%);
  a {
    color: $colorThird;
  }
  .active {
    color: lighten($colorThird, 10%);
  }
}

.list-block {
  li {
    border-bottom: 1px solid $colorSecond;
  }
}
