// Ebola

$colorFirst: #d15c4d; // dark orange
$colorSecond: #f6f4e3; // cream
$colorThird: #aac2ac; // grey green
$colorFourth: #666; // light grey grey

@include links($colorFirst);

// white on orange
.highlight-primary {
  background-color: $colorFirst;
  color: $colorSecond;
  a {
    color: $colorSecond;
  }
}

// green on cream
.highlight-secondary {
  background-color: $colorSecond;
  color: lighten($colorThird, 10%);
  a {
    color: $colorThird;
  }
  .active {
    color: lighten($colorThird, 10%);
  }
}
