// Malaria No More

$colorFirst: #cd3209;// burnt orange
$colorSecond: #dc5a11; //  light orange  
$colorThird: #fff; // white
$colorFourth: #ebebeb; // light grey

@include links($colorFirst);

// white text on burnt orange background
.highlight-primary {
  background-color: $colorFirst;
  color: $colorThird;
  a {
    color: $colorThird;
  }
}

// dark grey, orange links, on light grey
.highlight-secondary {
  background-color: $colorFourth;
  color: darken($colorFourth, 30%);
  a {
    color: $colorSecond;
  }
  .active {
    color: darken($colorFourth, 30%);
  }
}

//thick bottom border light orange
.list-block {
  li {
    border-bottom: solid 5px $colorSecond;
  }
}

.list-inline { 
  li {
    border-left: solid 2px ;
  }
}